<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>

<!--Main content-->

<main class="container">
<div class="row">
  <div>
    <div class="col-md-offset-3 col-md-8">
      <h1><%= title %></h1>
      <br>
      <table class="table table-bordered table-striped table-hover">
        <!--Head Row-->
        <tr>
          <th class="text-center">Last Name</th>
          <th class="text-center">First Name</th>
          <th class="text-center">Job Title</th>
          <th class="text-center">Company</th>
          <th class="text-center">E-mail</th>
          <th class="text-center">Phone</th>
        </tr>
      </table>
    </div>
  </div>
</div>
</main>

<%- include partials/bottom_nav.ejs %>

<%- include partials/footer.ejs %>