<%- include ../partials/header.ejs %>

<%- include ../partials/main_nav.ejs %>

<!--Main content-->

<main class="container">
<div class="row">
  <div>
    <div class="offset-md-1 col-md-10">
      <h1><%= title %></h1>
      <a href="/contact-list/add" class="btn btn-primary" role="button">
      <i class="fas fa-plus-circle"></i> Add a Contact </a>
      <br>

    </div>
  </div>
</div>
</main>

<%- include ../partials/bottom_nav.ejs %>

<%- include ../partials/footer.ejs %>