<!--
File Name: index.js
Student Name: Davi Cavalcante de Carvalho
Student id# 301154671
June 16, 2021
-->

<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>

<div class="container">
    <h1><%= message %></h1>
    <h2><%= error.status %></h2>
    <pre><%= error.stack %></pre>
</div>

<%- include partials/bottom_nav.ejs %>

<%- include partials/footer.ejs %>